body {
    font-family: Arial, sans-serif;
    background-color: rgb(198, 189, 190);
    margin: 0;
    padding: 0;
  }
 
  .container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  h2 {
    margin-top: 0;
  }
 
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
  }
 
  label {
    display: block;
    font-weight: bold;
  }
 
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 
  .text-danger {
    color: red;
  }
 
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  button:hover {
    background-color: #0056b3;
  }
 
  .successMessage {
    color: green;
    margin-top: 10px;
  }

  #signIn {
    display: flex;
    align-items: center; /* Align items vertically */
  }

  #signIn  div {
    margin-right: 20px; /* Add some spacing between the divs */
    margin-top: 20px;
  }